<div id="welcome">
	<h1>Sistema web del curso Tecnologías y Aplicaciones Web</h1>
	<p><%= link_to "Ingresa", new_session_path %> o <%= link_to "registra una nueva cuenta", new_sign_up_path %>.</p>
	<div id="logo-big">
		<%= image_tag "logo.png", alt: "Logo Teachr", title: "Teachr" %>
	</div>
	
</div>