<h1>Home#welcome</h1>
<p>Find me in app/views/home/welcome.html.erb</p>

<% if notice %>
	<div class="notice"><%= notice %></div>
<% end -%>
<% if alert %>
	<div class="alert"><%= alert %></div>
<% end -%>