/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

#logo {
  height: 50px;
}

header a#logo-link {
  float: left;
}

#login-box {
  float: right;
}

.clear {
  clear: both;
}

div.alert {
  background: #FFF2F2;
  color: #B63535;
  border: 1px solid #B63535;
  border-radius: 5px;
  padding: 4px 8px;
  margin-top: 10px;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(182, 5, 53, 0.2);
  box-shadow: 2px 2px 3px 0px rgba(182, 5, 53, 0.2);
}

div.alert.notice {
  background: #CBD6FF;
  color: #3569B6;
  border: 1px solid #3569B6;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(53, 105, 182, 0.2);
  box-shadow: 2px 2px 3px 0px rgba(53, 105, 182, 0.2);
}